/* GLOBAL */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 1140px;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h2 {
  font-size: 40px;
  letter-spacing: 0.5px;
  color: #ff4f81;
  font-weight: bold;
  text-transform: uppercase;
}

.heading p {
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 4px;
}

.heading p::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 20px auto;
}

.heading--white p {
  color: #fff;
}

.section {
  padding: 5rem 0;
}

/* HEADER */
.header__top {
  background-color: #ff4f81;
}

.header__left a {
  text-decoration: none;
  transition: all 0.5s;
}

.header__left a:hover {
  color: black !important;
}

.header__right a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background-color: #000;
  border: 1px solid #000;
  color: white;
  margin-left: 0.25rem;
  transition: all 0.5s;
}

.header__right a:hover {
  border-color: #fff;
  background-color: #ff4f81;
}

.navInstruction a {
  color: black;
}

.navInstruction .navbar-brand p:first-child {
  font-size: 36px;
}

.navInstruction .navbar-brand i {
  transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
  font-size: 11px;
  color: #ff4f81;
  letter-spacing: 3px;
}

#navbarInstruction .nav-item {
  margin: 0 15px;
}

#navbarInstruction .nav-item::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  display: block;
  transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after {
  width: 100%;
}

#navbarInstruction .nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item.active .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item.active::after {
  width: 100%;
}

#navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
  color: #fff;
  transition: all 0.5s;
}

#navbarInstruction .dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  color: #ff4f81 !important;
}
/* CAROUSEL */
#carouselCyber .carousel-caption {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
  font-size: 52px;
}

#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 300;
}

#carouselCyber .carousel-caption button {
  border: 1px solid white;
  color: white;
  padding: 11px 20px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

#carouselCyber .carousel-caption button:hover {
  background-color: #ff4f81;
  border-color: #ff4f81;
}
/* WELCOME */
.welcome__content > p {
  width: 80%;
  margin: 0 auto;
  color: #999;
  text-align: center;
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 1px;
  padding: 1rem 0 5rem;
}

.welcome__item i {
  font-size: 2rem;
}

.welcome__item h3 {
  color: #ff4f81;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.welcome__item h4 {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0 0.2rem;
}

.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8em;
  margin: 10px 0 0;
  letter-spacing: 1px;
}

.welcome__col {
  padding: 2rem;
}
/* OUR STARS */
.ourStats {
  background-image: url('../img/banner2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.ourStats__content {
  text-align: center;
  color: #fff;
}

.ourStats__item i {
  font-size: 2.5rem;
}

.ourStats__item h3 {
  color: #ff4f81;
  font-size: 1.3rem;
  margin: 30px 0 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.ourStats__item p {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
}
/* OFFER */
.offer-col {
  padding: 15px;
}

.offer__item {
  padding: 25px 40px;
  box-shadow: 0px 1px 8px rgba(158, 158, 158, 0.75);
  text-align: center;
  background-color: #fff;
  transition: all 0.5s;
}

.offer__item:hover {
  background-color: #12ccc3;
}

.offer__item i {
  font-size: 40px;
  color: #ff4f81;
}

.offer__item h3 {
  font-size: 20px;
  color: black;
  margin: 25px 0 20px;
}

.offer__item p {
  color: #6b6b6b;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* FEEDBACK */
.feedback {
  /* background-image: url(../img/banner3.jpg);
    background-position: center; */
  background: url(../img/banner3.jpg) center;
  background-attachment: fixed;
  background-size: cover;
}

.feedback__content {
  box-shadow: 0px 1px 7px #8e8e8e;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 1rem;
}

.feedback__content .item {
  color: white;
  padding: 1rem;
}

.feedback__top {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);
  position: relative;
}

.feedback__top::after {
  content: '';
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: 100%;
  left: 28%;
}

.feedback__content .feedback__bottom img {
  width: 30%;
  display: inline-block;
}

.feedback__bottom {
  display: flex;
  justify-content: center;

  width: 55%;
  margin: 2rem auto 0;
}

.feedback__name p {
  margin: 0;
  color: #ff4f81;
}
.feedback__name {
  margin-left: 5px;
}
.feedback__name p:first-child {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.8;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;

  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
/* NEWS */

.news__content img {
  border: 2px solid #dedede;
}

.news__content h3 {
  font-size: 1.2rem;
}

.news__content a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.news__content a:hover {
  color: #ff4f81;
}

.news__content h4 {
  color: #ff4f81;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.news__content p {
  color: #999;
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 0.9rem;
}

.news__content .row:first-child {
  margin-bottom: 5rem;
}

/* MODAL */
#cyberModal h1 {
  font-size: 29px;
  color: #ff4f81;
  font-weight: bold;
}

#cyberModal p {
  font-size: 14px;
  line-height: 1.8em;
  color: #777;
  margin: 20px 0;
}

#cyberModal .modal-dialog {
  max-width: 600px;
}
/* FOOTER */
footer {
  background: #141415;
}

.footer__top h3 {
  color: #ff4f81;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: bold;
}

.footer__top p {
  color: #8b8b96;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.footer__link,
.footer__contact {
  margin-bottom: 1rem;
}

.footer__link i {
  color: #ff4f81;
  margin-right: 1rem;
}

.footer__link a,
.footer__contact a {
  text-decoration: none;
  color: #8b8b96;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.footer__link a:hover,
.footer__contact a:hover {
  color: #fff;
}

.footer__contact i {
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #4b4b50;
  margin-right: 1rem;
}

.footer__form {
  margin-top: 3rem;
}

.footer__form label {
  color: #ff4f81;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__form input {
  padding: 14px;
  border-radius: 0;
  border: none;
  color: #888;
  height: auto;
}

.footer__form button {
  background-color: #ff4f81;
  padding: 12px 35px;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0;
  text-align: center;
  transition: all 0.5s;
}

.footer__form button:hover {
  background-color: #ec1955;
  color: #fff;
}

.footer__bottom {
  background-color: #0f0f10;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 1px;
  color: #fff;
}

.footer__bottom a {
  text-decoration: none;
  color: #ff4f81;
}
